/* three.js addded */

/*html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}*/

/*.parent{
  display: flex;
  height: 100%;
}*/

.scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.ui_mainoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
}

.ui_suboverlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
}

h1 {
  text-align: center; /* 将标题居中 */
  font-family: Arial; /* 设置字体样式为 Arial 或 sans-serif */
  color: #4b4b4b;
}